.example-wrapper {
    display       : flex;
    flex-direction: row;
}

.example-tree {
    width: 500px;
}

.example-controller {
    display           : flex;
    flex-direction    : column;
    // justify-content: center;
    width             : calc(100% - 500px);
    padding           : 100px 20px 0 20px;
}

.example-controller-button {
    margin       : 5px 50px;
    height       : 2rem;
    width        : 200px;
    font-size    : .75rem;
    border-radius: 5px;
}

.rct-icon-star {
    background     : url(../../tree/assets/images/icons/star.svg);
    width          : 16px;
    height         : 16px;
    background-size: 100%;
}

.rct-icon-file {
    background     : url(../../tree/assets/images/icons/file.svg);
    width          : 16px;
    height         : 16px;
    background-size: 100%;
}

.rct-icon-directory {
    background     : url(../../tree/assets/images/icons/directory.svg);
    width          : 16px;
    height         : 16px;
    background-size: 100%;
}

.rct-icon-tag {
    background     : url(../../tree/assets/images/icons/tag.svg);
    width          : 16px;
    height         : 16px;
    background-size: 100%;
}

.rct-icon-love {
    background     : url(./love.svg);
    width          : 16px;
    height         : 16px;
    background-size: 100%;
}